[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65000000000000002
ContrastEffect=1
IntensityAmount=0.10000000000000001
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.025000000000000001
ColorEffect=2
ContrastAmount=0.10000000000000001
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0


[Colors:Button]
BackgroundAlternate={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
DecorationHover={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundActive={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
ForegroundInactive={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundLink={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
ForegroundNegative={{base0F-rgb-r}},{{base0F-rgb-g}},{{base0F-rgb-b}}
ForegroundNeutral={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundNormal={{base06-rgb-r}},{{base06-rgb-g}},{{base06-rgb-b}}
ForegroundPositive={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundVisited={{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}}

[Colors:Selection]
BackgroundAlternate={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
BackgroundNormal={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
DecorationFocus={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
DecorationHover={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundActive={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
ForegroundInactive={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
ForegroundLink={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
ForegroundNegative={{base0F-rgb-r}},{{base0F-rgb-g}},{{base0F-rgb-b}}
ForegroundNeutral={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundNormal={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
ForegroundPositive={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundVisited={{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}}

[Colors:Tooltip]
BackgroundAlternate={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
DecorationHover={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundActive={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
ForegroundInactive={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundLink={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
ForegroundNegative={{base0F-rgb-r}},{{base0F-rgb-g}},{{base0F-rgb-b}}
ForegroundNeutral={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundNormal={{base06-rgb-r}},{{base06-rgb-g}},{{base06-rgb-b}}
ForegroundPositive={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundVisited={{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}}

[Colors:View]
BackgroundAlternate={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
DecorationHover={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundActive={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
ForegroundInactive={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundLink={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
ForegroundNegative={{base0F-rgb-r}},{{base0F-rgb-g}},{{base0F-rgb-b}}
ForegroundNeutral={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundNormal={{base06-rgb-r}},{{base06-rgb-g}},{{base06-rgb-b}}
ForegroundPositive={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundVisited={{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}}

[Colors:Window]
BackgroundAlternate={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
DecorationHover={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundActive={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
ForegroundInactive={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundLink={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
ForegroundNegative={{base0F-rgb-r}},{{base0F-rgb-g}},{{base0F-rgb-b}}
ForegroundNeutral={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundNormal={{base06-rgb-r}},{{base06-rgb-g}},{{base06-rgb-b}}
ForegroundPositive={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundVisited={{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}}

[General]
ColorScheme={{scheme-name}}
Name={{scheme-name}}
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
activeBlend={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
activeForeground={{base06-rgb-r}},{{base06-rgb-g}},{{base06-rgb-b}}
inactiveBackground={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
inactiveBlend={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
inactiveForeground={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
